*.dll
*.exe
.DS_Store
terraform.tfplan
terraform.tfstate
.terraform.lock.hcl
.terragrunt-cache/
bin/
modules-dev/
.vagrant/
*.backup
./*.tfstate
.terraform/
*.log
*.bak
*~
.*.swp
.idea
*.iml
*.test
*.iml
